# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\kosta.botnar\python_intro\pythonProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
